<form (ngSubmit)="submit()" [formGroup]="this.options">
  <div>Variable {{this.data.id}}</div>
  <mat-form-field>
    <input formControlName="name" matInput placeholder="Name" required>
  </mat-form-field>
  <mat-checkbox formControlName="isRequested">Is requested?</mat-checkbox>
  <mat-form-field>
    <mat-select [value]="this.data.domain" formControlName="domain" placeholder="Domain" required>
      <mat-option *ngFor="let domain of this.store.domains" [value]="domain">
        {{domain.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <textarea formControlName="description" matInput placeholder="Description"></textarea>
  </mat-form-field>
  <div>
    <button (click)="save()" mat-raised-button>Save</button>
    <button (click)="cancel()" mat-raised-button>Cancel</button>
  </div>
</form>
