<form class="form" [formGroup]="this.options" (ngSubmit)="submit()">
  <p>Rule {{this.data.id}}</p>
  <mat-form-field>
    <input formControlName="name" matInput placeholder="Name" required>
  </mat-form-field>
  <div>
    <mat-list class="premises" formArrayName="premises">
      <mat-list-item
        class="statement-item"
        *ngFor="let premise of this.data.premises; let i = index"
        formControlName="{{i}}">
        <p class="statement-item-value">{{premise.name}}</p>
        <button mat-icon-button class="statement-item-edit" (click)="editStatement(premise)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="statement-item-remove" (click)="removeStatement(premise, this.data.premises)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
      <button mat-icon-button class="statement-add" (click)="addStatement(this.data.premises)">
        <mat-icon>add</mat-icon>
      </button>
    </mat-list>
    <mat-icon class="follows">arrow_forward</mat-icon>
    <mat-list class="conclusions" formArrayName="conclusions">
      <mat-list-item
        class="statement-item"
        *ngFor="let conclusion of this.data.conclusions; let i = index"
        formControlName="{{i}}}">
        <p class="statement-item-value">{{conclusion.name}}</p>
        <button mat-icon-button class="statement-item-edit" (click)="editStatement(conclusion)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="statement-item-remove" (click)="removeStatement(conclusion, this.data.conclusions)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
      <button mat-icon-button class="statement-add" (click)="addStatement(this.data.conclusions)">
        <mat-icon>add</mat-icon>
      </button>
    </mat-list>
  </div>
  <mat-form-field class="description">
    <textarea formControlName="description" matInput placeholder="Description" required></textarea>
  </mat-form-field>
</form>
<div class="controls">
  <button mat-raised-button (click)="save()">Save</button>
  <button mat-raised-button (click)="cancel()">Cancel</button>
</div>
