<div class="form">
  <div>Rule {{this.data.id}}</div>
  <mat-form-field class="name" (change)="this.changeName()">
    <input id="name-content" matInput placeholder="Name">
  </mat-form-field>
  <div class="statements">
    <mat-list class="premises">
      <mat-list-item class="statement-item" *ngFor="let premise of this.data.premises">
        <p class="statement-item-value">{{premise.name}}</p>
        <button mat-icon-button class="statement-item-edit" (click)="editStatement(premise)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="statement-item-remove" (click)="removeStatement(premise, this.data.premises)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
      <button mat-icon-button class="statement-add" (click)="addStatement(this.data.premises)">
        <mat-icon>add</mat-icon>
      </button>
    </mat-list>
    <mat-icon class="follows">arrow_forward</mat-icon>
    <mat-list class="conclusions">
      <mat-list-item class="statement-item" *ngFor="let conclusion of this.data.conclusions">
        <p class="statement-item-value">{{conclusion.name}}</p>
        <button mat-icon-button class="statement-item-edit" (click)="editStatement(conclusion)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="statement-item-remove" (click)="removeStatement(conclusion, this.data.conclusions)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
      <button mat-icon-button class="statement-add" (click)="addStatement(this.data.conclusions)">
        <mat-icon>add</mat-icon>
      </button>
    </mat-list>
  </div>
  <mat-form-field class="description">
    <textarea matInput placeholder="Description"></textarea>
  </mat-form-field>
</div>
<div class="controls">
  <button mat-raised-button (click)="save()">Save</button>
  <button mat-raised-button (click)="cancel()">Cancel</button>
</div>
