.form {
  width: 95%;
  padding: 0.5rem;
}

.form > * {
  width: 100%;
}

.consequence-data {
  display: inline-block;
  width: 80%;
}

.statement-control {
  display: inline-block;
  width: 20%;
}

.statement-control > * {
  display: inline-block;
}

.statement-edit {
  display: inline-block;
  width: 5%;
}

.premises {
  display: inline-block;
  width: 45%;
}

.follows {
  display: inline-block;
  width: 10%;
  text-align: center;
}

.conclusions {
  display: inline-block;
  width: 45%;
}

.statement-item {
  display: inline-block;
  width: 90%;
}

.statement-item-value {
  width: 80%;
}

.statement-item-edit {
  width: 10%;
}

.statement-item-remove {
  width: 10%;
}

.statement-add {
  width: 100%;
}

.description {
  display: block;
}

.controls {
  width: 100%;
}
