<div class="rule-form">
  <div>Rule {{this.data.id}}</div>
  <mat-form-field class="rule-name" (change)="this.changeName()">
    <input id="rule-name-content" matInput placeholder="Name">
  </mat-form-field>
  <div class="rule-statements">
    <mat-list class="rule-premises">
      <mat-list-item *ngFor="let premise of this.data.premises">
        <mat-select>
          <mat-option *ngFor="let variable of this.store.variables"
                      [value]="premise.variable">
            {{variable.name}}
          </mat-option>
        </mat-select>
        <mat-icon>arrow_forward</mat-icon>
        <mat-select>
          <mat-option *ngFor="let value of premise.variable.domain.values"
                      [value]="premise.value">
            {{value}}
          </mat-option>
        </mat-select>
      </mat-list-item>
      <button mat-icon-button class="rule-statement-add" (click)="addStatement(this.data.premises)">
        <mat-icon>add</mat-icon>
      </button>
    </mat-list>
    <mat-icon class="rule-follows">arrow_forward</mat-icon>
    <mat-list class="rule-conclusions">
      <mat-list-item *ngFor="let conclusion of this.data.conclusions">
        <mat-select>
          <mat-option *ngFor="let variable of this.store.variables"
                      [value]="conclusion.variable">
            {{variable.name}}
          </mat-option>
        </mat-select>
        <mat-icon>arrow_forward</mat-icon>
        <mat-select>
          <mat-option *ngFor="let value of conclusion.variable.domain.values"
                      [value]="conclusion.value">
            {{value}}
          </mat-option>
        </mat-select>
      </mat-list-item>
      <button mat-icon-button class="rule-statement-add" (click)="addStatement(this.data.premises)">
        <mat-icon>add</mat-icon>
      </button>
    </mat-list>
  </div>
  <mat-form-field class="rule-description">
    <textarea matInput placeholder="Description"></textarea>
  </mat-form-field>
</div>
<div class="controls">
  <button mat-raised-button (click)="save()">Save</button>
  <button mat-raised-button (click)="cancel()">Cancel</button>
</div>
