<form class="form" [formGroup]="this.options" (ngSubmit)="submit()">
  <p>Rule {{ this.data.id }}</p>
  <mat-form-field>
    <label>
      <input formControlName="name" matInput placeholder="Name" required/>
    </label>
  </mat-form-field>
  <div>
    <mat-list class="premises" formArrayName="premises">
      <mat-list-item
        class="statement-item"
        *ngFor="let premise of this.options.controls['premises'].value; let i = index"
        formGroupName="{{ i }}"
      >
        <mat-select formControlName="variable">
          <mat-option *ngFor="let variable of this.store.variables"
                      value="{{ premise.variable }}">{{ variable.name }}</mat-option>
        </mat-select>
        =
        <mat-select formControlName="value">
          <mat-option *ngFor="let value of this.getDomain(i, 'premises')">{{ value }}</mat-option>
        </mat-select>
        <button (click)="removeStatement(i, 'premises')" class="statement-item-remove" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
      <button (click)="addStatement('premises')" class="statement-add" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </mat-list>
    <mat-icon class="follows">arrow_forward</mat-icon>
    <mat-list class="conclusions" formArrayName="conclusions">
      <mat-list-item
        class="statement-item"
        *ngFor="let conclusion of this.options.controls['conclusions'].value; let i = index"
        formGroupName="{{ i }}"
      >
        <mat-select formControlName="variable">
          <mat-option *ngFor="let variable of this.store.variables"
                      value="{{ conclusion.variable }}">{{ variable.name }}</mat-option>
        </mat-select>
        =
        <mat-select formControlName="value">
          <mat-option *ngFor="let value of this.getDomain(i, 'conclusions')">{{ value }}</mat-option>
        </mat-select>
        <button (click)="removeStatement(i, 'conclusions')" class="statement-item-remove" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
      <button (click)="addStatement('conclusions')" class="statement-add" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </mat-list>
  </div>
  <mat-form-field class="description">
    <label>
      <textarea formControlName="description" matInput placeholder="Description" required></textarea>
    </label>
  </mat-form-field>
</form>
<div class="controls">
  <button mat-raised-button (click)="save()">Save</button>
  <button mat-raised-button (click)="cancel()">Cancel</button>
</div>
