<form (ngSubmit)="submit()" [formGroup]="this.options" class="form">
  <div>Domain {{this.data.id}}</div>
  <mat-form-field class="name">
    <input formControlName="name" matInput placeholder="Name">
  </mat-form-field>
  <mat-list (cdkDropListDropped)="drop($event)" cdkDropList class="values" formArrayName="values">
    <mat-list-item *ngFor="let value of this.options.get('values').value; let i = index" cdkDrag class="value">
      <mat-form-field class="value-data">
        <input [formControlName]="i.toString()" matInput placeholder="Value">
      </mat-form-field>
      <button (click)="removeValue(i)" class="value-control" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item class="value-control">
      <button (click)="insertValue('')" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
  <mat-form-field class="description">
    <textarea formControlName="description" matInput placeholder="Description"></textarea>
  </mat-form-field>
  <div class="controls">
    <button (click)="save()" mat-raised-button>Save</button>
    <button (click)="cancel()" mat-raised-button>Cancel</button>
  </div>
</form>
