<form [formGroup]="options" (ngSubmit)="submit()">
  <div>Statement {{this.data.id}}</div>
  <mat-form-field class="name">
    <input formControlName="name" matInput placeholder="Name" required>
  </mat-form-field>
  <mat-select class="variable-select" formControlName="variable" [value]="this.data.variable" required>
    <mat-option *ngFor="let variable of this.store.variables"
                [value]="this.data.variable">
      <p>{{variable.name}}</p>
    </mat-option>
  </mat-select>
  <mat-icon class="follows">arrow_forward</mat-icon>
  <mat-select class="value-select" formControlName="value" [value]="this.data.value" required>
    <mat-option *ngFor="let value of this.data.variable.domain.values"
                [value]="value">
     <p>{{value}}</p>
    </mat-option>
  </mat-select>
  <mat-form-field class="description">
    <input matInput formControlName="description" placeholder="Description">
  </mat-form-field>
  <div class="controls">
    <button mat-raised-button (click)="save()">Save</button>
    <button mat-raised-button (click)="cancel()">Cancel</button>
  </div>
</form>
