<div class="domains" cdkDropList (cdkDropListDropped)="drop($event)">
  <div class="domain-box" *ngFor="let domain of store.domains" cdkDrag>
    <div class="domain-info">
        <div class="domain-uuid">{{domain.id}}</div>
        <div class="domain-name">{{domain.name}}</div>
    </div>
    <div class="domain-values">
      <div class="domain-value" *ngFor="let value of domain.values">{{value}}</div>
    </div>
    <div class="domain-controls">
      <button mat-icon-button (click)="editDomain(domain)">
        <img src="./../../../../assets/img/edit-24px.svg">
      </button>
      <button mat-icon-button (click)="removeDomain(domain)">
        <img src="./../../../../assets/img/delete-24px.svg">
      </button>
    </div>
  </div>
  <div>
    <button mat-icon-button class="domain-add" (click)="insertDomain()">
      <img src="./../../../../assets/img/add-24px.svg">
    </button>
  </div>
</div>
<div class="controls">
  <button mat-raised-button (click)="save()">Save</button>
  <button mat-raised-button (click)="cancel()">Cancel</button>
</div>
