<button mat-button [matMenuTriggerFor]="main_menu">Main</button>
<mat-menu #main_menu="matMenu">
  <button mat-menu-item>New</button>
  <button mat-menu-item (click)="FromJSON('')">Import</button>
  <button mat-menu-item (click)="ToJSON()">Export</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="knowledge_menu">Knowledge</button>
<mat-menu #knowledge_menu="matMenu">
  <button mat-menu-item (click)="openVariableDialog()">Variables</button>
  <button mat-menu-item (click)="openDomainDialog()">Domains</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="consultation_menu">Consultation</button>
<mat-menu #consultation_menu="matMenu">
  <button mat-menu-item>Set target</button>
  <button mat-menu-item>Consult</button>
</mat-menu>
<button mat-button>Explanation</button>
