<mat-sidenav-container>
  <mat-sidenav class="header">
    <app-menu class="menu"></app-menu>
    <div *ngIf="!!target$; then targetBlock; else emptyTargetBlock"></div>
    <ng-template #targetBlock>
      <p class="target-block">{{ (target$ | async)?.name }}</p>
    </ng-template>
    <ng-template #emptyTargetBlock>
      <p class="target-block">Target is not selected</p>
    </ng-template>
  </mat-sidenav>
  <mat-divider></mat-divider>
  <mat-sidenav-content>
    <app-load></app-load>
  </mat-sidenav-content>
</mat-sidenav-container>
