<div class="variables" cdkDropList (cdkDropListDropped)="drop($event)">
  <div class="variable-box" *ngFor="let variable of store.variables" cdkDrag>
      <div class="variable-uuid">{{variable.id}}</div>
      <div class="variable-name">{{variable.name}}</div>
      <div class="variable-domain">{{variable.values}}</div>
      <div class="variable-controls">
        <button mat-icon-button (click)="editVariable(variable)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="removeVariable(variable)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
  </div>
  <div>
    <button mat-icon-button class="variable-add" (click)="insertVariable()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
<div class="controls">
  <button mat-raised-button (click)="save()">Save</button>
  <button mat-raised-button (click)="cancel()">Cancel</button>
</div>
