<form (ngSubmit)="submit()" [ngrxFormState]="this.formState$ | async" class="form">
  <p>Rule {{ (this.formState$ | async).controls.id.value }}</p>
  <mat-form-field>
    <label>
      <input [ngrxFormControlState]="(this.formState$ | async).controls.name" matInput placeholder="Name"/>
    </label>
  </mat-form-field>
  <div>
    <mat-list class="premises">
      <mat-list-item *ngFor="let premise of this.getPremises() | async; let i = index" class="statement-item">
        <p class="statement-item-value">{{ premise.name }}</p>
        <button class="statement-item-edit" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button class="statement-item-remove" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
      <button class="statement-add" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </mat-list>
    <mat-icon class="follows">arrow_forward</mat-icon>
    <mat-list class="conclusions">
      <mat-list-item
        *ngFor="let conclusion of this.getConclusions() | async; let i = index"
        class="statement-item"
        formControlName="{{ i }}}"
      >
        <p class="statement-item-value">{{ conclusion.name }}</p>
        <button class="statement-item-edit" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button class="statement-item-remove" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
      <button class="statement-add" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </mat-list>
  </div>
  <mat-form-field class="description">
    <label>
      <input [ngrxFormControlState]="(this.formState$ | async).controls.description" matInput
             placeholder="Description"/>
    </label>
  </mat-form-field>
</form>
<div class="controls">
  <button (click)="submit()" mat-raised-button>Save</button>
  <button (click)="cancel()" mat-raised-button>Cancel</button>
</div>
