.name {
  width: 100%;
}

.variable-select {
  width: 45%;
}

.follows {
  display: inline-block;
  width: 10%;
  text-align: center;
}

.value-select {
  width: 45%;
}

.description {
  width: 100%;
}

.controls {
  width: 100%;
}
