<mat-list (cdkDropListDropped)="drop($event)" cdkDropList class="domains">
  <mat-list-item *ngFor="let domain of this.data" cdkDrag class="box">
    <div class="info">
      <div class="uuid">{{domain.id}}</div>
      <div class="name">{{domain.name}}</div>
    </div>
    <div class="controls">
      <button (click)="editDomain(domain)" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="removeDomain(domain)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-list-item>
  <mat-list-item>
    <button (click)="insertDomain()" class="add" mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
<div class="controls">
  <button (click)="save()" mat-raised-button>Save</button>
  <button (click)="cancel()" mat-raised-button>Cancel</button>
</div>
