<mat-list>
  <mat-list-item *ngFor="let msg of this.userDialogStore">
    <mat-card>
      {{msg}}
    </mat-card>
  </mat-list-item>
  <mat-divider></mat-divider>
  <form [formGroup]="options">
    <mat-form-field>
      <mat-select [value]="this.currentQuestedVariable.values[0]" formControlName="chosenValue">
        <mat-option *ngFor="let v of this.currentQuestedVariable.values" [value]="v">{{v}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="setAnswer()">Submit</button>
  </form>
</mat-list>
<button mat-button (click)="cancel()">Cancel</button>
